In [5]:
import savReaderWriter as sav
import pandas as pd
import chardet
import pyreadstat as prs

In [11]:
base = open('_data/censo_interh.csv', 'rb').read()
det = chardet.detect(base)
charenc = det['encoding']
charenc

'UTF-8-SIG'

In [43]:
data = pd.read_csv('_data/censo_interh.csv', encoding = charenc, thousands = ' ', dtype = {'Código': str})

In [44]:
data.dtypes

Código                          object
Distrito                        object
Sí tiene conexión a internet     int64
No tiene conexión a internet     int64
dtype: object

In [45]:
data['Departamento'] = data.loc[:, 'Distrito'].copy().str.split(', ').apply(lambda row: row[ 0 ])
data

,Código,Distrito,Sí tiene conexión a internet,No tiene conexión a internet,Departamento
0,10101,"Amazonas, Chachapoyas, distrito: Chachapoyas",1534,6825,Amazonas
1,10102,"Amazonas, Chachapoyas, distrito: Asunción",0,104,Amazonas
2,10103,"Amazonas, Chachapoyas, distrito: Balsas",3,352,Amazonas
3,10104,"Amazonas, Chachapoyas, distrito: Cheto",6,214,Amazonas
4,10105,"Amazonas, Chachapoyas, distrito: Chiliquin",0,206,Amazonas
...,...,...,...,...,...
1869,250302,"Ucayali, Padre Abad, distrito: Irazola",70,2493,Ucayali
1870,250303,"Ucayali, Padre Abad, distrito: Curimana",22,1862,Ucayali
1871,250304,"Ucayali, Padre Abad, distrito: Neshuya",61,1864,Ucayali
1872,250305,"Ucayali, Padre Abad, distrito: Alexander Von H...",30,1265,Ucayali
1873,250401,"Ucayali, Purús, distrito: Purús",3,685,Ucayali

In [46]:
data[ 'Provincia' ] = data.loc[ :, 'Distrito' ].copy().str.split( ', ' ).apply( lambda row: row[ 1 ] )
data

,Código,Distrito,Sí tiene conexión a internet,No tiene conexión a internet,Departamento,Provincia
0,10101,"Amazonas, Chachapoyas, distrito: Chachapoyas",1534,6825,Amazonas,Chachapoyas
1,10102,"Amazonas, Chachapoyas, distrito: Asunción",0,104,Amazonas,Chachapoyas
2,10103,"Amazonas, Chachapoyas, distrito: Balsas",3,352,Amazonas,Chachapoyas
3,10104,"Amazonas, Chachapoyas, distrito: Cheto",6,214,Amazonas,Chachapoyas
4,10105,"Amazonas, Chachapoyas, distrito: Chiliquin",0,206,Amazonas,Chachapoyas
...,...,...,...,...,...,...
1869,250302,"Ucayali, Padre Abad, distrito: Irazola",70,2493,Ucayali,Padre Abad
1870,250303,"Ucayali, Padre Abad, distrito: Curimana",22,1862,Ucayali,Padre Abad
1871,250304,"Ucayali, Padre Abad, distrito: Neshuya",61,1864,Ucayali,Padre Abad
1872,250305,"Ucayali, Padre Abad, distrito: Alexander Von H...",30,1265,Ucayali,Padre Abad
1873,250401,"Ucayali, Purús, distrito: Purús",3,685,Ucayali,Purús

In [59]:
data['Distrito'] = data.loc[ :, 'Distrito' ].copy().str.split( 'distrito: ' ).apply( lambda row: row[ 1 ] )
data

,Código,Distrito,Sí tiene conexión a internet,No tiene conexión a internet,Departamento,Provincia
0,010101,Chachapoyas,1534,6825,Amazonas,Chachapoyas
1,010102,Asunción,0,104,Amazonas,Chachapoyas
2,010103,Balsas,3,352,Amazonas,Chachapoyas
3,010104,Cheto,6,214,Amazonas,Chachapoyas
4,010105,Chiliquin,0,206,Amazonas,Chachapoyas
...,...,...,...,...,...,...
1869,250302,Irazola,70,2493,Ucayali,Padre Abad
1870,250303,Curimana,22,1862,Ucayali,Padre Abad
1871,250304,Neshuya,61,1864,Ucayali,Padre Abad
1872,250305,Alexander Von Humboldt,30,1265,Ucayali,Padre Abad
1873,250401,Purús,3,685,Ucayali,Purús

In [51]:
def correct_ubigeo(string):
    if len(string) == 5:
        string = '0' + string
    return string

In [52]:
data.loc[:, 'Código'] = data.apply(lambda row: correct_ubigeo(row['Código']), axis = 1)

In [56]:
data.iloc[ :, 2 ].sum() + data.iloc[ :, 3 ].sum()

8252284